[submodule "tl2cgen"]
	path = tl2cgen
	url = C:\\Users\\mcshr\\OneDrive\\Everything\\Mod12\\TreePool\\tl2cgen
[submodule "treelite"]
	path = treelite
	url = C:\\Users\\mcshr\\OneDrive\\Everything\\Mod12\\TreePool\\treelite
